@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&effect=shadow-multiple|3d');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #2980b9, #2c3e50);
}
 
body::before
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#12c2e9,#6e90ed,#ec7b83);
    clip-path: circle(30% at right 70%);
    
}

body::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91E63);
    clip-path: circle(20% at 11% 12%);
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    flex-wrap: wrap;
    z-index: 2;
    text-decoration-style: none;
}

.container .card
{
position: relative;
width: 250px;
height: 450px;
margin:20px;
box-shadow: 10px 0 30px rgba(0,0,0,0.3);
border-radius: 15px;
background: rgba(255,255,255,0.1);
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid rgba(255,255,255,0.5);
border-left: 1px solid rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
backdrop-filter: blur(15px);

}

.container .card1 
{
    position: absolute;
    width: 250px;
    height: 480px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 8em;
    font-family: 'roboto', sans-serif;
    opacity: 1;
    transition: 1s;
    z-index: 3;
    }

.container .card1 h1
{
        position: relative;
        width: 100%;
        text-align: center;
        }

.container .card1:hover h1
    {
        opacity: 0;
    }

.container .card .content
{
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;

}
.container .card:hover .content 
{
    transform: translateX(0px);
    opacity: 1;
}

/**********card2******/

.container .card .content h2
{
font-family: 'roboto',sans-serif;
font-size: 1.8em;
font-weight: bold;
padding: 10px;
text-decoration-color: antiquewhite;
z-index: 1;

}
.container .card .content p 
{
   letter-spacing: 0.8px; 
   text-justify:unset;
    font-size: 1em;
    color:antiquewhite;
    font-weight: 200;
    padding:5px;
}
.container .card .content u
{
    font-weight: bold;
}

/********card1********/
.container .card .content .img img
{
    border-radius: 50%;
    
    
}
.info h5
{
padding: 8px;
color:antiquewhite;
font-size: 1.1em;
}

/**********card3******/

li 
{
    list-style-type: none;
    color: antiquewhite;
    padding: 5px;
    font-size: 1.2em;
}

/*******button a ****span a *****/

.container .card .content a 
{
  position: relative;
  font-size: 1.8em;
  text-decoration: none;
  font-style: italic;
  color:antiquewhite;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 5px;
  width: 140px;
  height: 50px;
  
  }

.container .card .content .button 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 80px;
    border-radius: 75px;
    margin: 50px 0;
    z-index: auto;
    }




.container .card .content .button:hover
{
    border: 0.8rem solid #12e5e9;
    box-shadow : 5px 5px 10px #12e5e9,
                5px -5px 10px #12e5e9,
                -5px -5px 10px #12e5e9,
                -5px 5px 10px #12e5e9;
                
    transition: 0.5s ease-in-out;
    
    
}
.container .card .content .button span:hover
{
  color:#0a0f13;  
  }

/**********svg circle*******/

.svg {
    position: absolute;
    top:-9px;
    left: 45px;
    z-index: 1;
    overflow: hidden;
    
}

.svg1
{
    position:absolute;
    bottom: -50px;
    right:-250px;
    z-index: 1;
    overflow: hidden;
}






