@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Rampart+One&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #2980b9, #2c3e50);
}
 
body::before
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#12c2e9,#6e90ed,#ec7b83);
    clip-path: circle(30% at right 70%);
    
}

body::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91E63);
    clip-path: circle(20% at 11% 12%);
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 2;
    text-decoration-style: none;
}

.container .card
{
position: relative;
width: 280px;
height: 480px;
margin:30px;
box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
border-radius: 15px;
background: rgba(255,255,255,0.1);
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid rgba(255,255,255,0.5);
border-left: 1px solid rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
backdrop-filter: blur(15px);


}
.container .card .content
{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;

}
.container .card:hover .content
{
    transform: translateX(0px);
    opacity: 1;
}

/**********card2******/

.container .card .content h2
{
font-family: 'Rampart One',sans-serif;
font-size: 1.8em;
padding: 10px;
background: -webkit-linear-gradient(#12c2e9,#d28ff3,#ec7b83);
background-clip: text;
-webkit-text-fill-color: transparent;
z-index: 1;

}
.container .card .content p 
{
   letter-spacing: 0.8px; 
   text-justify:unset;
    font-size: 1em;
    color:antiquewhite;
    font-weight: 200;
    padding:5px;
}
.container .card .content u
{
    font-weight: bold;
}

/********card1********/
.container .card .content .img img
{
    border-radius: 50%;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
    box-shadow: 0 0 50px red;
    
}
.info h5
{
padding: 8px;
color:antiquewhite;
font-size: 1.1em;
}

/**********card3******/

li 
{
    list-style-type: none;
    color: antiquewhite;
    padding: 5px;
    font-size: 1.2em;
}

/*******button a ****span a *****/

.container .card .content a 
{
  position: relative;
  font-size: 1.5em;
  text-decoration: none;
  background: -webkit-linear-gradient(#12c2e9,#c471ed,#f64f59);
  padding: 5px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }

  .container .card .content a span{
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: namecolor;
    animation-duration: 5s;
    animation-iteration-count: infinite;

  }

  @keyframes namecolor{
    20.6%{background-color: #0e365c;}
    33.2%{background-color: #c522cb;}
    49.8%{background-color: #b11c24;}
    66.4%{background-color: #b11c24;}
    83%{background-color: #c522cb;}
    100%{background-color: #0e365c;}
}

/**********svg circle*******/

.svg {
    position: absolute;
    top:-9px;
    left: 45px;
    z-index: 1;
    
}

.svg1
{
    position:absolute;
    bottom: -50px;
    right:-250px;
    z-index: 1;
}






